src/
root/
keys/
/bzImage
/busybox
build.log
*.img
*.squashfs
*.verity
*.uki
*.efi
*.fd
sysroot/
esp/
ovmf-vars.fd
xos.efi
xos-signed.efi
verity.info
verity.roothash
/cmdline.txt
/ta.h
/ii
/tlstunnel
/rootfs.squashfs
bzImage.config.sha256
/abduco
/cryptsetup
/wg
/dropbearmulti
